<footer>
    <div style="font-family: sans-serif; color: white; font-weight:300 ;" class="footer-container">
        © 2021 — Redesigned & redeveloped by Anuar Roslan ❤️
    </div>
    <div class="footer-icon">
            <i style="color:rgb(255, 255, 255);" class="fab fa-github "></i>
            <i style="color:rgb(255, 255, 255);" class="fas fa-envelope "></i>
            <i style="color:rgb(255, 255, 255);" class="fab fa-instagram "></i>
            <i style="color:rgb(255, 255, 255);" class="fab fa-linkedin-in "></i>
    </div>
</footer>