<nav>
    <section class="home">
        <div class="home-container">
            <h1>Hello, I'm Amin's Brother!</h1>
            <h2>Hardcore Musician</h2>
            <div class="home-icons">
                <i class="fab fa-github "></i>
                <i class="fas fa-envelope "></i>
                <i class="fab fa-instagram "></i>
                <i class="fab fa-linkedin-in "></i>
            </div>
        </div>
    </section>
</nav>
<span class="mouse">
    <i class="fas fa-mouse"></i>
</span>