<div class="project-container">
    <div class="title">
        <h3>SPEAKING👨‍💼</h3>
    <div class="underline-h3"></div>
    </div>
    <div class="grid-container">
        <!-- speaking 1 -->
        <div class="grid-item">
            <div class="grid-content">
                <h4 style="line-height: normal;" >PORTING MY DISCORD BOT PROJECT INTO AWS ECOSYSTEM</h4>
                <div class="underline"></div>
            <div style="overflow-y: hidden;" class="p-container"><p class="project-text" >AWS Usergroup meetup October 2019</p></div>
            </div>
            <div class="grid-content2">
                <div class="year">
                    <h5>2019</h5>
                </div>
                <div class="grid-icons">
                    <i class="fas fa-volume-up"></i>
                </div>
                <div class="project-img-div">
                    <img class="project-img" src="images/discordTalk.jpg" alt="">
                </div>
                <div style="width: 50%;" class="app-type">
                    <h5 style="color: white;" >AWS, TECH</h5>
                </div>
            </div>
        </div>  
        
        <!-- speaking 2 -->
        <div class="grid-item">
            <div class="grid-content">
                <h4 style="line-height: normal;" >WHY YOU SHOULD LEARN TO CODE?</h4>
                <div class="underline"></div>
            <div style="overflow-y: hidden;" class="p-container"><p class="project-text" >Next Academy Live Q&A Webinar</p></div>
            </div>
            <div class="grid-content2">
                <div class="year">
                    <h5>2019</h5>
                </div>
                <div class="grid-icons">
                    <i class="fas fa-volume-up"></i>
                </div>
                <div class="project-img-div">
                    <img class="project-img" src="images/learn.png" alt="">
                </div>
                <div class="app-type">
                    <h5 style="color: white;" >TECH</h5>
                </div>
            </div>
        </div>  
        <!-- speaking 3 -->
        <div class="grid-item">
            <div class="grid-content">
                <h4 style="line-height: normal;" >IMPLEMENTING SERVER SIDE RENDERING LOGIC TO A CRA PRODUCTION APP</h4>
                <div class="underline"></div>
            <div style="overflow-y: hidden;" class="p-container"><p class="project-text" >JS Wednesday - KualaLumpurJS</p></div>
            </div>
            <div class="grid-content2">
                <div class="year">
                    <h5>2019</h5>
                </div>
                <div class="grid-icons">
                    <i class="fas fa-volume-up"></i>
                </div>
                <div class="project-img-div">
                    <img class="project-img" src="images/server.jpg" alt="">
                </div>
                <div class="app-type">
                    <h5 style="color: white;" >TECH</h5>
                </div>
            </div>
        </div>  

    </div>
</div>