body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 16px;
  color: rgb(56, 56, 56);
  cursor: default;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(56, 56, 56);
  cursor: default;
}

h3 {
  margin-left: 1rem;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 350;
  letter-spacing: px;
  line-height: 1.25;
  color: rgb(125, 171, 209);
  cursor: default;
  display: table;
  border-bottom: 5px solid rgb(156, 156, 156);
  transition: all 0.4s ease 0s;
  padding-bottom: 4px;
  position: relative;
}

h3::after {
  content: "";
  position: absolute;
  background-color: rgb(110, 198, 255);
  height: 5px;
  width: 0%;
  left: 0%;
  bottom: -5px;
  transition: 0.3s;
}

h3:hover:after {
  width: 100%;
}

h4 {
  margin: 0;
  margin-left: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: px;
  line-height: 2em;
  cursor: default;
  display: table;
  border-bottom: 5px solid rgb(73, 73, 73);
}

h5 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: px;
  line-height: 2em;
  display: flex;
  justify-content: center;
  cursor: default;
}

p {
  margin-left: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 17px;
  font-weight: 300;
  line-height: 2em;
  display: block;
}

/* h3 underline */

/* Nav */

.ar-logo {
  height: 55px;
  width: auto;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

header {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
  width: 100vw;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: 0.2s linear;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
  background: white;
  /* display: none; */
}

.scroll-up header {
  background: rgb(56, 56, 56);
  translate: (0, -100px);
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin-right: 65px;
}

li {
}

a {
  position: relative;
  margin-left: 1rem;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(155, 155, 155);
  transition: all 0.4s ease 0s;
  background: none;
}

a::after {
  content: "";
  position: absolute;
  background-color: rgb(110, 198, 255);
  height: 5px;
  width: 0%;
  left: 0%;
  bottom: -10px;
  transition: 0.3s;
}

a:hover:after {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .links {
    position: absolute;
    right: 0%;
  }

  li {
    font-size: 17px;
    letter-spacing: 0px;
  }
}

/* Home */

.home {
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 80px 16px; */
  margin-bottom: 20vh;
  height: 80vh;
}

.home-icons,
.fab,
.fas {
  font-size: 50px;
  margin: 0 10px;
  color: rgb(56, 56, 56);
  cursor: pointer;
  transition: 0.7s;
}

.fab:hover,
.fas:hover {
  color: gray;
}

.far {
  font-size: 50px;
  color: rgb(73, 73, 73);
}

.mouse {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 35px;
    text-align: center;
    margin: 50px 20px 0 20px;
  }

  h2 {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(88, 88, 88);
    margin: 5px 0 15px;
  }

  .grid-icons {
    margin: 0;
  }

  .mouse {
    /* display: none; */
  }
}

/* About */

.about-container {
  display: flex;
  padding: 80px 16px 80px 16px;
  margin: 1rem;
  margin-bottom: 20vh;
}

.title {
  width: 60%;
}

.about-pic-container {
  display: flex;
  justify-content: center;
  margin: 00px 0 10px 0;
  width: 40%;
}

.amin-handsome {
  height: 19rem;
  width: auto;
  border: 1px;
  border-radius: 100%;
  position: relative;
  top: 30%;
  transition: 0.7s;
}

.amin-handsome:hover {
  border-radius: 20%;
}

@media screen and (max-width: 425px) {
  .about-container {
    display: inline;
    margin: 0;
  }

  .title {
    width: 100%;
  }

  h3 {
    font-size: 20px;
  }

  .about-pic-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Projects feature */

.project-container {
  margin: 20vh 0 20vh 0;
}

.speaking-container {
  padding: 20vh 0 10vh 0;
}

.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  margin: 1rem;
  margin-bottom: 10rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  border: 1px grey;
  border-radius: 8px;
  width: 100%;
  height: 13rem;
  background: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.grid-item:hover {
  margin-top: ;
}

.grid-content {
  margin-left: 10px;
  width: 100%;
}

.grid-content2 {
  margin: 0px;
  width: 100%;
  position: relative;
}

.p-container {
  overflow-y: scroll;
  height: 70%;
  margin-top: 14px;
}

.project-text {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-right: 16px;
}

.grid-icons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.grid-icons,
.fab,
.fas {
  font-size: 28px;
}

.project-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25%;
  right: 25%;
}

.project-img {
  width: 120px;
  height: 120px;
  margin: 0rem;
}

.year {
  margin: 0;
  padding: 0;
  background: rgb(240, 230, 246);
  width: 60px;
  height: 30px;
  position: absolute;
  font-size: 18px;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.app-type {
  margin: 0;
  padding: 0;
  background: rgb(87, 87, 87);
  width: 40%;
  height: 35px;
  position: absolute;
  right: 0%;
  bottom: 0%;
  font-size: 18px;
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 0px 0px 8px;
}

@media screen and (max-width: 425px) {
  .project-img-div {
    bottom: 22%;
    right: 19%;
  }
}

/* Footer */

footer {
  background: rgb(73, 73, 73);
  padding: 16px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  padding: 9px;
}

.footer-icon {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

@media screen and (max-width: 425px) {
  footer {
    padding: 0;
    display: inline-block;
  }

  .footer-container {
    font-size: 15px;
    padding: 10px 10px 5px 10px;
  }

  .footer-icon,
  .fab,
  .fas {
    font-size: 23px;
    margin: 0 2px 5px 10px;
  }
}
